 .panda-background {
  background-color:  #FEEAE9;
 }

 .carousel_img{
    width: 100%;
    height: 100%;
 }
 .btn_color{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    color: white;
 }
 .cat_watch{
    background-color: orange;
 }
 .cat_beg{
    background-color: orchid;
 }
 .cat_shoes{
    background-color: blue;
 }
 .bx_shadow{
    box-shadow: 5px 5px 10px lightgrey;
}
